/*
 * pronimbusapi_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

package inventory_pkg


import(
	"encoding/json"
	"github.com/apimatic/unirest-go"
	"pronimbusapi_lib/apihelper_pkg"
	"pronimbusapi_lib/configuration_pkg"
	"pronimbusapi_lib/models_pkg"
)
/*
 * Client structure as interface implementation
 */
type INVENTORY_IMPL struct {
     config configuration_pkg.CONFIGURATION
}

/**
 * RESTful web service to create inbound BOLs.
 * [Download the YAML for this call](API_bolInboundCreate.yaml)
 * @param    *models_pkg.BolInboundCreateRequest        request     parameter: Required
 * @return	Returns the *models_pkg.BolInboundCreateSuccessResponse response from the API call
 */
func (me *INVENTORY_IMPL) CreateInboundBillOfLadingWebService (
            request *models_pkg.BolInboundCreateRequest) (*models_pkg.BolInboundCreateSuccessResponse, error) {
    //the endpoint path uri
    _pathUrl := "/call/bolInboundCreate"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.ENUM_DEFAULT,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "content-type" : "application/json; charset=utf-8",
    }

    //prepare API request
    _request := unirest.Post(_queryBuilder, headers, request)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 0) {
        err = apihelper_pkg.NewAPIError("Unexpected error", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.BolInboundCreateSuccessResponse = &models_pkg.BolInboundCreateSuccessResponse{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

/**
 * RESTful web service to GET inventory information.
 * [Download the YAML for this call](API_getInventoryStatus.yaml)
 * @param    *models_pkg.InventoryRequest        request     parameter: Required
 * @return	Returns the *models_pkg.InventoryResponse response from the API call
 */
func (me *INVENTORY_IMPL) CreateInventoryWebService (
            request *models_pkg.InventoryRequest) (*models_pkg.InventoryResponse, error) {
    //the endpoint path uri
    _pathUrl := "/call/getInventoryStatus"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.ENUM_DEFAULT,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "content-type" : "application/json; charset=utf-8",
    }

    //prepare API request
    _request := unirest.Post(_queryBuilder, headers, request)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 0) {
        err = apihelper_pkg.NewAPIError("Unexpected error", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.InventoryResponse = &models_pkg.InventoryResponse{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

